<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapiagro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>webapiagro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApiAgro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$WebApiAgro</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AgroDB" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:srvagrodb.database.windows.net,1433;Initial Catalog=AgroDB;Persist Security Info=False;User ID=pfneto;Password=jcdes01JC#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:srvagrodb.database.windows.net,1433;Initial Catalog=AgroDB;Persist Security Info=False;User ID=pfneto;Password=jcdes01JC#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjAgroDDD.Venda.Infra.Data.Context.ProjAgroContext, ProjAgroDDD.Venda.Infra.Data" MigrationConfiguration="ProjAgroDDD.Venda.Infra.Data.Migrations.Configuration, ProjAgroDDD.Venda.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AgroDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:srvagrodb.database.windows.net,1433;Initial Catalog=AgroDB;Persist Security Info=False;User ID=pfneto;Password=jcdes01JC#;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>